# Ignore single file
new-file.txt

# Ignore all files in bin directory
bin/
node_modules/
dist/

# Ignore all .tmp files
*.tmp
*.log

# Hidden OS files
Thumbs.db
.DS_Store

# gitignore.io  and enter your programming language or architecture